name: Latest blog post workflow
on:
  schedule: # Run workflow automatically
    - cron: '0 * * * *' # Runs every hour, on the hour
  workflow_dispatch: # Run workflow manually (without waiting for the cron to be called)

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Pull in posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://blog.beaubremer.com/feed/feed.xml"
          
          # This MUST match the "secret" User-Agent in your fetch-posts.js file
          user_agent: "Beau-Bremer-Website-Blog-Fetcher/1.0"
          
          # These headers help ensure the request looks correct to the server
          accept_header: "application/xml, text/xml, application/rss+xml"
